/* Remove default margins, padding, and hide scrollbars */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* This hides scroll bars that might appear */
}

/* Ensure the canvas element is treated as a block to avoid extra spacing issues */
canvas {
    display: block;
}